
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        
      </h1>
    </section>
  </aside>
  <div class="span10">
  	<%= form_for (:documents), :html => {:multipart => true} do |f| %>
  <%= f.file_field (:my_file) %>
  <%= f.submit "Upload" %>
<% end %>

    </div>
</div>

